# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# OpenCV / generated data
*.jpg
*.png
*.mp4
*.avi
faces_dataset/
captures/

# Arduino
*.hex
*.elf

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
